<div class="container py-5">
    <div class="row">
        <div class="col-lg-3 mb-4 mb-lg-0 text-center text-lg-right">
            <img src="{{ url('assets/images/headshot--david_crandall.jpg') }}"
                 alt="David Crandall"
                 class="img-thumbnail"
            >
        </div>
        <div class="col-lg-9">
            <p>
                2016-17 saw some major steps taken by the Associated Students.  We continue to support student initiatives both within the classroom and in student organizations to the tune of nearly $2 million. Our student leadership continued its long-time commitment to building the new Sustainability Center as a new collections center for recycling and as the hub for education and outreach to the campus community on all things green.   The AS supported a partnership with the campus and with Southwestern Law School to open a Student Legal Support Clinic for CSUN students.  The AS has been implementing the recommendations from its recent Program Review, especially in restructuring itself to better serve students, especially via several succession plans.  Our student leadership advocated strongly for programs, policies and services to help support student success at CSUN.
            </p>
            <p>
                David Crandall<br>
                <small>AS General Manager</small>
            </p>
        </div>
    </div>
</div>
