<header class="page-section">
    <img src="{{ url('assets/images/landing-image.jpg') }}"
         alt="Student Government for 2016-2017"
         class="page-section__image"
    >

    <div class="text-center my-5 px-4">
        <img src="{{ url('assets/images/logo--csunas--600.png') }}"
             alt="Associated Students' logo"
             class="img-fluid mb-5"
        >

        <h1 class="mb-0">
            Annual Report<br>
            <small>2016-2017</small>
        </h1>
    </div>
</header>
