{% extends '_layouts/department-section.html.twig' %}
{% from _self import accountingShared %}

{% set department = 'Accounting' %}

{% block description %}
Associated Students (A.S.) provides funding for special projects, events, conference travel and more. Matadors can even access funding in support of student research and other scholarly activities.

- Student organizations
- Academic costs associated with the creation of original research, performance pieces, senior projects, etc.
- Course-related projects or activities that extend beyond those funded through the State University Fee
- Conference travel or travel relating to leadership training
{% endblock %}

{% macro accountingShared() %}
    <div class="row">
        <div class="col-lg-6 mb-5">
            <section class="text-center">
                <h3 class="t-2 mb-0">Operating Budget</h3>
                <span class="t-5">$8,637,455</span>
            </section>
        </div>
        <div class="col-lg-6 mb-5">
            <section>
                <h3 class="t-2 mb-3">Accomplishments</h3>

                <ul class="mb-0">
                    <li>Funded the $5.7 million Sustainability Center construction project this year.</li>
                    <li>Managed to hold our heads up with multiple staffing changes with the help of new employee Lynn Umzam and temp employee Deborah Volper. Many thanks to them.</li>
                </ul>
            </section>
        </div>
    </div>

    <div class="row text-center mb-5">
        <div class="col-md-6 mb-4">
            <section>
                <h3 class="t-2">Club Accounts</h3>

                <p class="t-5 mb-0">280</p>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h3 class="t-2">Departments<sup>*</sup></h3>

                <p class="t-5 mb-0">380</p>
                <small><strong>*</strong> departments overall, including STAR, campus and AS related</small>
            </section>
        </div>
    </div>
{% endmacro %}

{% block reportBody %}
    {{ accountingShared() }}

    <div class="row text-center">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-4">
            <h3 class="t-2">Student Travel Allocated</h3>
            <p class="t-4 mb-0">$204,934</p>
            <p class="t-1 mb-0">from 192 requests</p>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-4">
            <h3 class="t-2">Club Funding</h3>
            <p class="t-4 mb-0">$1,410,202</p>
            <p class="t-1 mb-0">130 requests funded</p>
        </div>
        <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-0">
            <h3 class="t-2">Scholarships and Grants</h3>
            <p class="t-4 mb-0">$173,800</p>
        </div>
    </div>
{% endblock %}
