{% extends '_layouts/department-section.html.twig' %}

{% set department = "Children's Center" %}

{% block reportBody %}
    <p>The <a href="https://www.csun.edu/as/childrens-center">AS Children’s Center</a> is a high-quality early childhood program that provides a safe and nurturing environment while promoting the physical, social, emotional and intellectual development of young children. We are accredited by the National Association for the Education of Young Children (NAEYC), which administers a national, voluntary, professionally sponsored accreditation system for all types of preschools and child care centers.</p>

    <div class="row mb-5">
        <div class="col-md-6">
            <h3 class="t-3">Accreditation</h3>
            <p class="mb-0">Continued Accreditation by the National Association for the Education of Young Children</p>
        </div>
        <div class="col-md-6">
            <h3 class="t-3">Accomplishments</h3>
            <ul>
                <li>Contracts with Ca. Department of Education/Early Education and Support Division for State funded preschool and childcare. Grant with Child and Adult Care Food Program.</li>
                <li>In May 2017 the Children's Center was named an Exemplary Program by the Child and Adolescent Alumni Chapter.</li>
            </ul>
        </div>
    </div>

    <h3 class="t-3">Serving</h3>
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="d-flex flex-row">
                <span class="t-5 pr-3">145</span>
                <span class="f-serif t-1 u-line-break">
                    Families
                    per Semester
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-row">
                <span class="t-5 pr-3">156</span>
                <span class="f-serif t-1 u-line-break">
                    Children
                    per Semester
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-row">
                <span class="t-5 pr-3">20,000</span>
                <span class="f-serif t-1 u-line-break">
                    Meals
                </span>
            </div>
        </div>
    </div>

    <h3 class="t-3">Our Staff</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-row">
                <span class="t-5 pr-3">12</span>
                <span class="f-serif t-1 u-line-break">
                    Number of
                    Teachers
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-row">
                <span class="t-5 pr-3">67</span>
                <span class="f-serif t-1 u-line-break">
                    Number of
                    Employees
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-row">
                <span class="t-5 pr-3">55</span>
                <span class="f-serif t-1 u-line-break">
                    Number of
                    Student Employees
                </span>
            </div>
        </div>
    </div>
{% endblock %}
