{% extends '_layouts/department-section.html.twig' %}
{% from '_macros/row.html.twig' import row, figure_stacked, figure_horizontal %}

{% set department = "Children's Center" %}

{% block description %}
The [AS Children’s Center](https://www.csun.edu/as/childrens-center) is a high-quality early childhood program that provides a safe and nurturing environment while promoting the physical, social, emotional and intellectual development of young children. We are accredited by the National Association for the Education of Young Children (NAEYC), which administers a national, voluntary, professionally sponsored accreditation system for all types of preschools and child care centers.
{% endblock %}

{% block reportBody %}
    <div class="row">
        <div class="col-lg-6">
            <section class="mb-5">
                <h3 class="t-3">Accreditation</h3>
                <p>Continued Accreditation by the National Association for the Education of Young Children</p>
            </section>
        </div>
        <div class="col-lg-6">
            <section class="mb-5">
                <h3 class="t-3">Accomplishments</h3>
                <ul>
                    <li>Contracts with Ca. Department of Education/Early Education and Support Division for State funded preschool and childcare. Grant with Child and Adult Care Food Program.</li>
                    <li>In May 2017 the Children's Center was named an Exemplary Program by the Child and Adolescent Alumni Chapter.</li>
                </ul>
            </section>
        </div>
    </div>

    <section class="mb-5">
        <h3 class="t-3">Serving</h3>
        <div class="row">
            {{ row([
                {
                    value: 145,
                    desc: 'Families
                    per Semester'
                },
                {
                    value: 156,
                    desc: 'Children
                    per Semester'
                },
                {
                    value: 20000,
                    desc: 'Meals'
                }
            ], 'col-md-6 col-lg-4') }}
        </div>
    </section>

    <section>
        <h3 class="t-3">Our Staff</h3>
        <div class="row">
            {{ row([
                {
                    value: 12,
                    desc: 'Number of
                    Teachers'
                },
                {
                    value: 67,
                    desc: 'Number of
                    Employees'
                },
                {
                    value: 49,
                    desc: 'Number of
                    Student Employees'
                }
            ], 'col-md-6 col-lg-4') }}
        </div>
    </section>
{% endblock %}
