{% extends '_layouts/department-section.html.twig' %}
{% from '_macros/row.html.twig' import row, figure_stacked, figure_horizontal %}

{% set department = 'Productions' %}

{% block description %}
[AS Productions](https://www.csun.edu/as/productions) provides concerts, cultural events, lectures and special events for the CSUN campus, including "Big Show." AS Productions keeps the Matador spirit alive by producing CSUN spirit events and collaborating on programming with campus clubs, academic departments and the University Student Union.
{% endblock %}

{% block reportBody %}
    <section class="mb-5">
        <h3 class="t-2">Events</h3>

        <div class="row">
            {{ row([
                {
                    value: 52,
                    desc: 'Number of
                    Events'
                },
                {
                    value: 800,
                    desc: 'Attendees on
                    Average'
                }
            ], 'col-sm-6') }}
        </div>
    </section>

    <section class="mb-5">
        <h3 class="t-2">Staff</h3>
        <div class="row">
            {{ row([
                {
                    value: 150,
                    desc: 'Number of
                    Student Volunteers'
                },
                {
                    value: 7,
                    desc: 'Number of
                    Student Employees'
                }
            ], 'col-sm-6') }}
        </div>
    </section>

    <section>
        <h3 class="t-2">Accomplishments</h3>

        {% markdown %}
            - We have collaborated with about 60 different clubs, Vendors, departments and campus partners.
        {% endmarkdown %}
    </section>
{% endblock %}
