{% extends '_layouts/department-section.html.twig' %}

{% set department = 'Sport Clubs' %}

{% block reportBody %}
    <div class="row">
        <div class="col-md-4">
            <span>27</span>
            <span>Number of Sport Clubs</span>
        </div>
        <div class="col-md-4">
            <span>31</span>
            <span>Number of Student Employees</span>
        </div>
        <div class="col-md-4">
            <span>710</span>
            <span>Number of students in Sport Clubs</span>
        </div>
    </div>
{% endblock %}
