{% extends '_layouts/department-section.html.twig' %}
{% from '_macros/row.html.twig' import row, figure_stacked, figure_horizontal %}

{% set department = 'Student Leadership' %}

{% block description %}
<div class="row mb-5">
    <div class="col-md-6">
        {% markdown %}
            The [Student Government division](https://www.csun.edu/as/student-government) of Associated Students (A.S.) represents the student body, advocates its needs and defends its interests in dealings with faculty, campus administrators and government officials.

            Student Government is comprised of student leaders who seek to provide the ultimate college experience and uphold the mission and vision of A.S. Student leaders encourage shared governance, student advocacy and collaboration with other campus and community entities.
        {% endmarkdown %}
    </div>
    <div class="col-md-6">
        {{ figure_horizontal({
            value: 6102,
            desc: 'Number of
            Student Votes'
        }) }}
    </div>
</div>
{% endblock %}

{% block reportBody %}
    <section class="mb-5">
        <h3 class="t-2 mb-3">Establishment of the Student Legal Clinic</h3>

        {% markdown %}
            The [Student Legal Support Clinic ("Clinic")](https://library.csun.edu/student-legal-clinic-FAQ) is a unique collaboration between CSUN, the Associated Students and Southwestern Law School’s Community Lawyering Clinic.  The Clinic is directed by Southwestern Professor Julia Vázquez and staffed by law students under her direct supervision.

            In a survey conducted by the Associated Students, immigration was identified as a top priority for CSUN students.  The Clinic will provide pro bono advice, counsel and representation to CSUN students in a variety of immigration legal services, including, but not limited to: Deferred Action for Childhood Arrivals, Adjustment of Status, Special Immigrant Juvenile Status ("SIJS"), Violence against Women Act ("VAWA"), U visa and Naturalization Services.  In addition to client representation, Southwestern Law Students will conduct community based legal workshops to meet the needs of the CSUN student community.
        {% endmarkdown %}
    </section>

    <section class="mb-5">
        <h3 class="t-2">Student Leaders</h3>
        <div class="row">
            {{ row([
                {
                    value: 22,
                    desc: 'Senators'
                },
                {
                    value: 13,
                    desc: 'Cabinet
                Members'
                },
                {
                    value: 25,
                    desc: 'Committee
                Members'
                }
            ], 'col-md-4') }}
        </div>
    </section>

    <section class="mb-5">
        <h3 class="t-2">Meetings</h3>
        <div class="row">
            {{ row([
                {
                    value: 33,
                    desc: 'Number of
                Senate Meetings'
                },
                {
                    value: 33,
                    desc: 'Number of
                Finance Meetings'
                },
                {
                    value: 190,
                    desc: 'Number of
                Committee Meetings'
                }
            ], 'col-sm-6 col-md-4') }}
        </div>
    </section>

    <section class="mb-5">
        <h3 class="t-2">Legislative Actions</h3>
        <div class="row">
            {{ row([
                {
                    value: 19,
                    desc: 'Number of
                Resolutions'
                },
                {
                    value: 18,
                    desc: 'Number of
                Recommendations'
                }
            ], 'col-sm-6') }}
        </div>
    </section>

    <section class="mb-5">
        <h3 class="t-2 mb-3">Senate Bills</h3>
        {% markdown %}
            - SB‐2016‐17‐001 – Resolution Supporting Proposition 55: The California Extension of the Proposition 30 Income Tax Increase Initiative.
            - SB-2015-16-015 _(Amendment)_ — Reflect Measure R2 change to Measure M.
            - SB-2008-09-003 _(Amendment)_ — Associated Students Sustainability
            - SB-2016-17-003 – Scholarship in Recognition of Jennifer De La Torre
            - SB-2016-17-004 – Associated Students Inc. Opposition to the Proposed 2017-2018 Tuition Increase.
            - SB-2016-17-005 – Support AB17: Transit Pass Program: Free or Reduced Fare Transit Passes
            - SB-2016-17-006 – Resolution Commending CSUN Men’s Hockey Team
            - SB-2016-17-007 – Support AB 10: Feminine Hygiene Products
            - SB-2016-17-008 – CSUN Associated Students in Opposition to Governor Brown’s Phasing Out of the Middle Class Scholarship
            - SB-2016-17-009 – Feminine Products in Restrooms
            - SB‐2016‐17‐010 – California State University, Northridge Associated Students, Inc. Opposition to the Dakota Access Pipeline Project
            - SB‐2016‐17‐011 – Science Not Silence
            - SB‐2016‐17‐012 – Opposition to Executive Order 13769: Protecting the Nation from Foreign Terrorist Entry into the United States
            - SB‐2016‐17‐013 – Support AB 379: California Kickstart My Future Loan Forgiveness Program
            - SB‐2016‐17‐014 – Associated Students Scholarship in Honor of Jose Luis Vargas
            - SB‐2012‐13‐10 _(Amendment)_ – Resolution to Allow Students to Enter a Preferred Name on all CSUN Affiliated Applications and Coursework.
        {% endmarkdown %}
    </section>

    <section>
        <h3 class="t-2 mb-3">Recommendations</h3>

        {% markdown %}
            #### Internal Affairs
            - Marketing of Gender Inclusive Language
            - Create a Student Security Fund
            - Attorney General – Addition to Code
            - Codes and Resolutions
            - Communicating with Constituents, Part 2: Business Cards
            - Kosher Food
            - Sea World Tickets at AS Ticket Office
            - Supporting Individuals with Deferred Action for Childhood Arrival Protection
            - Food Pantry Competition

            #### External Affairs
            - Support Proposition 54
            - Support Proposition 58
            - Support Proposition 67
            - Continuing Efforts for CSUN Apparel in Local Targets
            - Campus Safety Fair
            - Campus Food Pantry Services
            - Support for Increased Bike Lanes around CSUN

            #### University Affairs
            - Continuing Support for the CSUN Food Pantry
            - Bringing Kosher and Halal Food to CSUN
            - Installment of ATM’s on Campus
            - Bike Repair Stations
            - Graduation Senior Survey
        {% endmarkdown %}
    </section>
{% endblock %}
