body {
    background-color: #a90000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

a {
    border-bottom: 1px solid currentColor;
    color: #ffeb3b;
}

a:hover {
    color: #ccba31;
    text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.page-section {
    overflow: hidden;
}

.page-section__image {
    display: block;
    margin-left: -50%;
    width: 200%;
}

@media (min-width: 768px) {
    .page-section__image {
        margin-left: 0;
        width: 100%;
    }
}

.page-footer {
    border-top: rgba(255, 255, 255, 0.7) 1px dotted;
}

.department {

}

.department--accounting {
    background-image: url('../images/background--accounting.jpg');
}

.department--childrens_center {
    background-image: url('../images/background--childrens_center.jpg');
}

.department--outdoor_adventures {
    background-image: url('../images/background--outdoor_adventures.jpg');
}

.department--productions {
    background-image: url('../images/background--productions.jpg');
}

.department--sustainability_and_recycling {
    background-image: url('../images/background--sustainability_and_recycling.jpg');
}

.department--sport_clubs {
    background-image: url('../images/background--sport_clubs.jpg');
}

.department--student_leadership {
    background-image: url('../images/background--student_leadership.jpg');
}

.department--ticket_office {
    background-image: url('../images/background--ticket_office.jpg');
}

.f-serif {
    font-family: 'Roboto Slab', serif;
}

.t-1 {
    font-size: 1.2rem;
}

.t-2 {
    font-size: 2rem;
}

.t-3 {
    font-size: 2.5rem;
}

.t-4 {
    font-size: 3rem;
}

.t-5 {
    font-size: 4rem;
}

@media (min-width: 768px) {
    .t-5 {
        font-size: 5rem;
    }
}

.u-line-break {
    white-space: pre-line;
}

.u-no-underline {
    border-bottom: none;
}

.js .scrollable-area {
    /*
      Calculated from: (7px + 13px + 7px) + 40px + 40px
        - .triangle-up[border-width]
        - .return-to-top[top (magic number)]
        - .return-to-top[left (magic number)]
    */
    margin-top: -107px;
}

.no-js .return-to-top {
    display: none;
}

.return-to-top {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    border-bottom: 0;
    border-radius: 50%;
    display: inline-block;
    padding: 20px;

    position: -webkit-sticky;
    position: sticky;

    /* 40px is the magic number for enough spacing from the bottom right corner of the browser */
    top: calc(95vh - 40px);
    left: calc(98vw - 40px);

    /* 30px margin is needed for spacing when we've reached the bottom of the container */
    margin-bottom: 30px;
    margin-top: 30px;
}

.triangle-up {
    position: absolute;
    top: calc(50% - 7px);
    right: calc(50% - 7px);

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 13px 7px;
    border-color: transparent transparent #a90000 transparent;
}
