body {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

a {
    border-bottom: 1px solid currentColor;
    color: #ffeb3b;
}

a:hover {
    color: #ccba31;
    text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.department {
    border-top: 10px solid #9e0000;
}

.department--accounting {
    background-image: url('../images/background--accounting.jpg');
}

.department--childrens_center {
    background-image: url('../images/background--childrens_center.jpg');
}

.department--outdoor_adventures {
    background-image: url('../images/background--outdoor_adventures.jpg');
}

.department--sustainability_and_recycling {
    background-image: url('../images/background--sustainability_and_recycling.jpg');
}

.department--sport_clubs {
    background-image: url('../images/background--sport_clubs.jpg');
}

.department--student_leadership {
    background-image: url('../images/background--student_leadership.jpg');
}

.f-serif {
    font-family: 'Roboto Slab', serif;
}

.t-1 {
    font-size: 1.2rem;
}

.t-2 {
    font-size: 1.75rem;
}

.t-3 {
    font-size: 2.5rem;
}

.t-4 {
    font-size: 3rem;
}

.t-5 {
    font-size: 5rem;
}

.u-line-break {
    white-space: pre-line;
}
