<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% spaceless %}{% block title %}Associated Students Annual Report 2016-2017{% endblock %}{% endspaceless %}</title>

        <link rel="shortcut icon"
              href="{{ url('favicon.ico') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="{{ url('assets/css/styles.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ url('assets/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
